fieldset
	legend change password
	details
		summary password info
		p Your passwords are SHA512 encrypted and never stored as plain text. There are no restrictions on passwords, besides non-empty, so please properly ensure your own security.
	form(method='post')
		input(type='hidden' name='action' value='changePassword')
		input(name='password' type='password' placeholder='old password')
		input(name='newPassword' type='password' placeholder='new password')
		input(name='newPassword2' type='password' placeholder='confirm new password')
		input(type='submit' value='change' name='changePassword')
