html
	head
		title VMM: Login
		link(rel='stylesheet' href='public/style.css')
	body
		h1 Login
		section
			form(method='post')
				input(name='username' type='username' placeholder='user@domain')
				input(name='password' type='password' placeholder='password')
				input(type='submit' value='login')
			if error
				h2 Error
				p= error
