body {
  color: #e1e1e1;
  background: #212121;
  font-family: sans-serif;
}

input {
  color: #e1e1e1;
  background: #111;
  border: 1px solid #000;
  padding: 0.25rem;
  margin: 0.25rem;
}

input[type="button"],
input[type="submit"] {
  background: #000;
  border: 1px solid #111;
  border-radius: 0.25rem;
}

input[value="remove"] {
  background: #722;
}

input[value="change"] {
  background: #227;
}

input[value="add"] {
  background: #272;
}

fieldset {
  border: 1px solid #000;
  border-radius: 0.25rem;
}

pre {
  background: #000;
  margin: 2rem;
  padding: 1rem;
}
